################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GitHubDemo/.vs/GitHubDemo/v16
/GitHubDemo/GitHubDemo/bin/Debug/netcoreapp3.1
/GitHubDemo/GitHubDemo/obj
